var html = "";    
function changeAssign(div){
  $('.select-menu-item').removeClass('selected');
  $(div).addClass('selected');
  
  $('.select-assign input[type="radio"]').prop('checked', false)
  $(div).find('input').prop('checked', true);

  $.ajax({
    url: $(div).parents('form').attr("action"),
    dataType: "script",
    data: $(div).parents('form').serialize(),
    type: "PUT"
  });
  
} 

function details_in_popup(link, div_id){
  $.ajax({
    url: "<%= issue_path(@issue) %>",
    dataType: "script",
    type: "GET",
    complete: function(response){
      $('#'+div_id).html(response.responseText)
    }
  });
  return '<div id="'+ div_id +'">Loading...</div>'    ;  
}


$(function(){        
  $('#pencil').clickover({
      html: true,
      trigger: 'click',
      placement: 'right',
      title: "选择指派人",
      content: function(){
        var div_id =  "div-id-" + $.now();
        return details_in_popup($(this).attr('href'), div_id)
      }
      
  })
  
  <% if !@issue.closed? && !@user_agent.mobile? %>        
    $( "#datepicker" ).datepicker({
      showOn: "button",
      buttonImage: "/assets/icon-edit.png",
      buttonImageOnly: true,
      onSelect: function(date){
        $.ajax({
          url: '<%= issue_path(@issue) %>',
          dataType: "script",
          data: "issue[due_date]=" + date ,
          type: "PUT"
        });     
      }
    });
  <% end %>
  
  $('#status-switch').on('switch-change', function (e, data) {
      var $el = $(data.el)
        , value = data.value;
      $el.parents('form').submit();              
      return false;      
  });
});