<% content_for:sidebar do %>

<% end %>
<h4 class="title head clearfix" >
  <div class="row-fluid">
    <div class="span2" style='margin-left: 92px;'>所有成员</div>
  </div>
</h4>

<div class="row-fluid">
  <%= render :partial => "list" %>
</div>