.button{
  display:inline-block;
  width: 58px;
  height:20px;
  color: #FFFFFF;
  padding: 4px 10px;
  font-size: 13px;
  text-align:center;
  vertical-align: baseline;
}

input[type="submit"]{
  width:80px;
  height:30px;
  vertical-align: baseline;
}

.button-gray {
  border: 1px solid #424242;
  background-color: #424242;
}

.button-blue {
  border: 1px solid #378ee1;
  background-color: #378ee1;
}

.load-more {
  margin: 20px 0 10px;
  text-align: center; 

  .btn-load-more {
    font-size: 12px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
