// Place all the styles related to the planners/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members-link,.projects-link{
	margin-right:6.3%;
	font-size:18px;
	padding-right:35px;
}
