body {
  min-width: 900px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #F5F5F5;
}

body>#wrap {
  height: auto;
  min-height: 100%;
  position: relative;  
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  padding: 30px 0 40px 15px;
  color: #a7abb1;
  z-index: 999;

}

#main {
  padding: 15px 35px 40px 0;
  margin-left: 250px;
  position: relative;
  min-height: 600px;
  border-left: 1px solid #ccc;  
  background: #ffffff;
}

      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      /*nav header*/
      #mz-top-link-logo{
        background:url(/assets/project_header/LOGO.png) no-repeat scroll 0 0 transparent;
        padding-left: 130px;
        margin-left:1px;
      }

      .navbar-inverse .brand{
        margin-right: 170px;
        color: #ffffff;
      }
      .navbar-inverse .navbar-inner{
        background: #a6c6d3;
        color:#ffffff!important;
      }
      .navbar-inverse .navbar-link{
        color:#ffffff;
      }
      .navbar-inverse .brand, .navbar-inverse .nav > li > a{
        color:#ffffff;
      }
      .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
        background-color: #c3dae4;
      }  
      
      .head .pull-right h5{
        background: url("/assets/project_header/add-white.png") no-repeat scroll 0  black;
        color:#ffffff;
      }
      /*reset css zsn*/
      .row-fluid .main-part{
        margin-left: 0!important;
      }
      
      
      
.controller-projects.action-index #main {
  padding-left:20px;
  margin:20px auto;
}      

.controller-projects.action-index .thumbnails .span2 {
  width: 206px!important;
}

.controller-projects.action-index .row-fluid [class*="span"]:first-child {
  margin-left: 2.12766%;
}

h4.title{
  border-bottom: 1px solid #e5e5e5;
  padding-bottom:10px;
  margin-left:2.12766%;;
  margin-bottom:20px;
}

.caption h5{
  height:22px;
  overflow:hidden;
}

.caption .small{
  color:#999;
}