html, body
{
    height: 100%;
    min-height: 100%;
}
     
#external-events h4, #members h4 {
font-size: 16px;
margin-top: 0;
padding-top: 1em;
}
 
#external-events .external-event, #members .member { /* try to mimick the look of a real event */
margin: 10px 0;
padding: 2px 4px;
background: #3366CC;
color: #fff;
font-size: .85em;
cursor: pointer;
z-index:1000;
width: 190px;
}
#external-events .external-event.dragged-true{
  background:#333;
  cursor:default;
}
#members .member{
  background: transparent;  
  color: #666;
}
 
 
#calendar{
  background:#fff;
}
#calendar div.header nav {
position: absolute;
right: 0;
}
#calendar div.header .action_button {
border-radius: 5px 0 0 5px;
font-size: 11px;
line-height: 16px;
padding: 2px 10px;
margin: -1px 0 0;
background: #fff;
color: #000;
border: 1px solid #ccc;
vertical-align: top;
text-decoration: none;
border-radius: 5px;
box-shadow: 0px 1px 0px #ddd;
}
 
#calendar div.header button[data-behavior~=navigate]:nth-of-type(2) {
border-radius: 0 5px 5px 0;
margin-right: 10px;
}
#calendar div.header button[data-behavior~=navigate]:first-of-type {
border-radius: 5px 0 0 5px;
border-right: none;
}
#calendar div.header h1 {
margin: 0;
font-size: 18px;
line-height: 18px;
font-weight: normal;
-webkit-font-smoothing: antialiased;
text-align: center;
}
 
.month-row{
  position:relative;
/*  z-index:100;*/
}
 
div.days {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height:30px;
}
 
div.day {
display: table-cell;
height:30px;
overflow: hidden;
border-right: 1px dotted #dcd9d3;
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}
 
div.day div.event-row {
position: relative;
top: auto;
height: auto;
zoom: 1;
}
div.day div.event-row div.spacer {
height: 35px;
width: 0;
float: left;
clear: left;
}
 
div.days-of-month {
  padding:0px;
  display: table;
  table-layout: fixed;
  width: 100%;
}
 
div.day-header {
text-align:center;
display: table-cell;
overflow: hidden;
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}
 
div.events.holdable {
position: absolute;
/*height: 0;*/
width:100%;
min-height:500px;
}
.event .title{
  padding:0px;
}
div.events.holdable  .event.Task{
  background-color: #3366CC;
}
div.events.holdable  .event.Member{
  
  background-color: #a6c6d3;
   
  .img-circle{
    height:24px;
    width:24px;
    z-index:10;
    position:absolute;
    border: 1px solid #a6c6d3;
    padding: 1px; 
    background-color: #FFFFFF;
  }  
   
  span.title{
    display:inline-block;
    margin-left:15px;
    padding-top: 2px;
    padding-left: 20px;
    color:#fff;
  }
}
 
/*div.events.holdable div.spacer {
height: 25px;
width: 0;
float: left;
clear: left;
}*/
div.events.holdable div.event{
  z-index:1000;
  position: relative;  
  cursor: pointer;
  margin-top:10px;  
//  margin-left:-5px;
}
div.events.holdable div.event.width_2 {
width: 18.57143%;
}
div.events.holdable div.event.slot_3 {
left: 71.42857%;
}
div.events.holdable div.event.slot_2 {
left: 31.42857%;
}
div.events.holdable div.event.slot_1 {
left: 11.42857%;
}
 
div.events.holdable span.event {
  color: #fff;
  padding-left: 5px;
  position:relative;
  z-index:110;
}
 
.ui-state-highlight{
  background-color:#FEFAE2;
}
 
 
#calendar_item_editor_singleton {
  position: absolute;
  width: 1px;
  height: 1px;
  display:none;
}
.balloon {
  white-space: normal;
  position: absolute;
  top: -30px;
  background: #fff;
  padding: 8px 12px 8px;
  width: 220px;
  z-index: 1000;
  border: 1px solid #bbb;
  font-size: 13px;
  line-height: 15px;
  vertical-align: baseline;
  border-radius: 6px;
  box-shadow: 0 1px 12px rgba(0,0,0,0.3);
}
.balloon.right_side .arrow {
top: 30px;
}
.balloon.right_side .arrow {
top: 35px;
left: -11px;
margin-top: -11px;
border-left-width: 0;
border-right-color: #999;
border-right-color: rgba(0,0,0,0.25);
}
.balloon.left_side .arrow{
top: 35px;
left: 244px;
margin-top: -11px;
border-right-width: 0;
border-left-color: #999;
border-left-color: rgba(0,0,0,0.25);
}
.balloon .arrow {
border-width: 11px;
}
.balloon .arrow, .balloon .arrow:after {
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}
.balloon.right_side .arrow:after {
left: 1px;
bottom: -10px;
border-left-width: 0;
border-right-color: #fff;
}
.balloon.left_side .arrow:after {
right: 1px;
bottom: -10px;
border-right-width: 0;
border-left-color: #fff;
}

.balloon .arrow:after {
border-width: 10px;
content: "";
}
.popover .arrow, .popover .arrow:after {
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}
 
.popover-title{
  color: #000;
}
.popover-content .form-horizontal .control-label{
  width: auto;
  padding-top:0px;
}
.popover-content .form-horizontal .controls{
  margin-left: 50px;
}
.popover-content .form-horizontal .controls input{
  width:160px;
}

.popover-content  div.swatches input[type=radio] {
  width: 0px;
  height: 0px;
  display: none;
}
.popover-content  div.swatches label{
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  margin: 2px 2px 0 1px;
  height: 12px;
  width: 14px;
}  
.popover-content  div.swatches input[type=radio]:checked+label {
  background-image: url(/assets/planners/swatch.png);
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
}
.popover-content  div.swatches label.swatch:hover {
box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.popover-content  div.swatches label.swatch {
display: inline-block;
border: 2px solid #fff;
vertical-align: baseline;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 2px rgba(0,0,0,0.4);
box-shadow: 0 0 2px rgba(0,0,0,0.4);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.ui-state-highlight { height:20px; margin-top:10px;}




/* Frame */
#frame {
	overflow: hidden;
}
#frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
#frame ul li {
	float: left;
  width:850px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
/*  background: #333;*/
	color: #ddd;
	text-align: center;
/*  cursor: pointer;*/
}
#frame ul li.active {
/*  color: #fff;
  background: #a03232;*/
}
#frame>ul>li div:last-child{
  margin-top:10px;
}
/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Effects */
.effects {
	height: 200px;
	line-height: 200px;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}