.all-member-photo{
  margin: 0 13%;
}

.image-name{
  text-align:center; 
  padding-right: 35px;
}

.line-space{
  padding-bottom: 30px;
}

.thumbnails{
  li.image-space{
    margin-left:0;
    width: 180px;
    }
}