.all-member-photo{
  margin: 0 13%;
}

.image-name{
  text-align:center; 
  padding-right: 35px;
}

.line-space{
  padding-bottom: 30px;
}

.thumbnails{
  li.image-space{
    margin-left:0;
    width: 180px;
    }
}
/*Me style*/
.personal-project{
	width:25px!important;
	height:25px!important;
}

.personal-project{
	color:#000000;
}