// Place all the styles related to the planners::projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-picture{
  width:148px;
  height:148px;

  img{
    width:148px;
    height:148px;
  }
}

ul.project-list{
  position:relative;
  
  li.project-item{
    margin-top:20px;
  }
}

.margin-align{
	margin-left:40px;
}

h4.title{
  color:#000;
}