<div id="formatting-help" class="popup showmebox inline-help">
  <a href="#" class="close"><img alt="Close-blue" src="/assets/false.png"></a>
  <h5>Textile用例</h5>
  h1. 一级标题<br><br>
  h2. 二级标题<br><br>
  * 列表<br><br>
  ** 子列表<br><br>
  *加粗*<br><br>
  -中划线-<br><br>
  > 引用<br><br>
  !图片链接!<br><br>
</div>