<div class="modal" id="container-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= labelled_form_for @project, multipart: true do |f| %>
        <div class="modal-body">
          <%= render :partial => 'form', :locals => { :f => f } %>
        </div>
        <div class="modal-footer">
          <%= link_to l(:button_close), '#', class: 'btn', data: { dismiss: 'modal' } %>
          <%= submit_tag l(:button_save), class: 'button blue btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>  
</div>
