<div class="push-notification-list">
  <ul class="push_notifications">
    <% push_notifications.each do |push_notification| %>
      <%= render "/push_notifications/#{push_notification.underscore}", { push_notification: push_notification, popover: false } %>
    <% end -%>
  </ul>

  <% if limit < max_limit %>
    <div class="load-more">
      <%= link_to t('label_load_more'), { limit: limit + 50 }, class: 'btn btn-load-more', remote: true %>
    </div>
  <% end -%>
</div>
