<div class="modal" id="container-modal">
  <%= labelled_form_for @project, :url=>"/planners/projects/#{@project.id}", method: :put, multipart: true do |f| %>
    <div class="modal-body" id="modal-change-creator">
      <%= render :partial => 'form_change_creator', :locals => { :f => f } %>
    </div>
    <div class="modal-footer">
      <%= link_to l(:button_close), '#', class: 'button button-gray disable-hover"', data: { dismiss: 'modal' } %>
      <%= submit_tag l(:button_save), class: 'button button-blue' %>
    </div>

  <% end %>
</div>
