<ul class="thumbnails">
  <% @projects.each do |p| %>      
    <li class="span2">
      <div>
        <%= link_to image_tag(p.icon_url(:large)), "/planners/projects/#{p.id}", :class => "thumbnail" %>
        <div class="caption">
          <h5><%= p.name %></h5>
          <p class="small"><%= p.description %></p>
        </div>
      </div>
    </li>
  <% end %>    
</ul>
<% page = (params[:page] ? params[:page].to_i+1 : 2) %>
<% if @projects.num_pages > 1 && @projects.num_pages >= page %>
  <div class="load-more">
    <%= link_to t('label_load_more'), { page: page }, class: 'btn btn-load-more', remote: true %>
  </div>
<% end -%>
