<div class="modal" id="container-modal">
  <%= form_tag(add_member_planners_projects_path, method: :post) do %>
    <div class="modal-body">
      <%= render :partial => 'form_add_member' %>
    </div>
    <div class="modal-footer">
      <%= link_to l(:button_close), '#', class: 'Label close_invite', data: { dismiss: 'modal' } %>
      <%= submit_tag l(:button_send), disable_with: l(:button_submiting), class: 'Label commit-invite', :'ng-click' => "submitInvite(#{@project.id});", :onclick => "return false;" %>
    </div>
  <% end %>
</div>
