<% content_for:sidebar do %>
 
<% end %>
<h4 class="title head clearfix padding-align">
  所有项目:
  <div class="pull-right" style="display:inline-block;"><h5>
    <%= link_to new_planners_project_path, remote: true do %>
       <%= l(:label_project_new) %>
    <% end -%>
  </h5></div>
</h4>
<div class="row-fluid margin-align">
  <ul class="thumbnails project-list">
    <%= render :partial => "list" %>
  </ul>
</div>
