<% content_for:sidebar do %>
  <%= render :partial => "sidebar" %>
<% end -%>

<div id='calendar' style="overflow:hidden;">

  <div class="row-fluid grid img-polaroid">
    <div  class="span12">
      <div class="row-fluid">
        <div class="span4">
          <h3>{{ currentMonth.getFullYear()}} - {{ currentMonth.getMonth() + 1 }}</h3>
        </div>
        <div class="span3 offset5">
          <div class="header">
            <nav>  
              <div class="btn-group">
                <a class="btn" href="/planners/projects/<%= @project.id %>">天</a>
                <a class="btn" href="/planners/projects/<%= @project.id %>?week=true">周</a>                
              </div>
              <div class="btn-group">
                <button class="prev btn" >◀</button>
                <button class="toCenter btn" >今天</button>                
                <button class="next btn" >▶</button>
              </div>
            </nav>      
          </div>  
        </div>
      </div>  
    </div>
  </div>     
  
  <div class="scrollbar">
		<div class="handle">
			<div class="mousearea"></div>
		</div>
	</div>
  
  <%= render :partial => "calendar" %>
  
</div>      
