<% content_for:sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list" id="slideRight">
      <li class="form-horizontal head">
          <h5 style="display:inline-block;"><%= @project.name %></h5>
          <div style="display:inline-block;padding:10px;" class="pull-right"><img src="/assets/project_header/down.png" alt="down"/></div>
      </li>
      <li>
        <a href="#">
          <img src="/assets/planners/project-default.png" class="img-polaroid" style="height:135px;width:95%;">
        </a>
        <div id="descriptionToPro"><%= @project.description %></div>
      </li>
      <li class="head">
        <h5 style="display:inline-block;">Members</h5>
        <div class="pull-right" style="display:inline-block;"> 
          <%= link_to l(:label_planner_invite),new_member_planners_projects_path(project: @project), remote: true, class:'invite-member'%>
        </div>
      </li>
      <li class="head">        
        <div id="members" ng-controller="MemberCtrl">
          <div ng-repeat="member in members" ginkgo-draggable="true" class="member" data-member-id="{{member.id}}">
            <a class="photo">
              <img class="img-circle" src="/assets/project_header/person.png">
            </a>            
            <div style="margin-left:5px;">
              <span class="name">{{member.name}}</span>
              <div class="role">master</div>
            </div>
            <a class="pull-right" href="#"><img src="/assets/planners/delete.png"></a>                   
          </div>
        </div>
      </li>
      <li class="head">
        <div>全部</div>
        <div>
          <a style="float:right;" href="#"><img src="/assets/project_header/add-black.png" alt="add_Person"></a>
          <span class="name">Tasks</span>
        </div>
      </li>
      <li class="classify">
        <div id="external-events" ng-controller="TaskCtrl">
          <h4>Draggable Tasks</h4>
          <div ginkgo-task-popover ng-show="tasks.length > 0"  ng-repeat="task in tasks" ginkgo-draggable="{{!task.done}}" class="external-event dragged-{{task.done}}"  data-task-id="{{task.id}}" >{{task.text}}</div>
          <form ng-submit="addTask()">
            <input type="text" ng-model="task.text"  size="10" class="span2"
                   placeholder="add new task here">
            <input class="btn-primary" type="submit" value="add">
          </form>
        </div>
      </li>
    </ul>
  </div><!--/.well -->
  
<% end -%>

<div id='calendar'>
  
  <div class="row-fluid grid img-polaroid">
    <div  class="span12">
      <div class="row-fluid">
        <div class="span4">
          <h3>{{ currentMonth.getFullYear()}} - {{ currentMonth.getMonth() }}</h3>
        </div>
        <div class="span3 offset5">
          <div class="header">
            <nav>  
              <div class="btn-group">
                <button class=" btn" ng-click="prevMonth();">◀</button>
                <button class="btn" ng-click="today();">今天</button>                
                <button class=" btn" ng-click="nextMonth();">▶</button>                
              </div>
            </nav>      
          </div>  
        </div>
      </div>  
    </di>
  </div>      
  
  <div class="days-of-month date img-polaroid">
    <div class="day-header {{ day.dateOjbect.getDay()%6==0  && 'sun-color-date' || '' }}" ng-repeat="day in days">{{ day.day }}</div>          
  </div>
  
  <div class="month-row" ng-repeat="event in eventsInMonth = (events | filterByMonth:currentMonth | orderBy:'position' ) ">
    <div class="events holdable" style="width:100%;">                          
      <div >
        <div  class="event-row task" >
          <div  class="event  tip wraps_next  {{event.eventableType}}" style="left:{{event.left}};width:{{event.width}};" ginkgo-draggable="true" ginkgo-resizeable="true" data-event-id="{{event.id}}" ginkgo-popover="true" ng-switch on="event.eventableType" data-toggle="tooltip" title="{{ event.startTime }} - {{event.endTime }}">
            
            <span ng-switch-when="Task" class="event">
              <span class="title">{{ event.text }}</span>
            </span>
            
            <span ng-switch-default class="event">
              <a><img class="img-circle" src="/assets/planners/person.png" style=""></a>
              <span style="" class="title">{{ event.text }}</span>
            </span>
          </div>                        
        </div>
        <div class="spacer"></div>
      </div>            
    </div> 
                  
    <div class="days" ginkgo-droppable="true">            
      <div class="dates" style="display:table-row;">
        <div class="day {{ day.dateOjbect.getDay()%6==0  && 'sat' || '' }}" ng-repeat="day in days" data-date="{{day.year}}-{{day.month}}-{{day.day}}" >
        </div>
      </div>
    </div>   
    
  </div>
  
  <div class="month-row no-events">
    <div class="days" ginkgo-droppable="true"  style="min-height:{{  500 - (eventsInMonth.length * 30)}}px;">            
      <div class="day {{ day.dateOjbect.getDay()%6==0  && 'sat' || '' }}" ng-repeat="day in days" data-date="{{day.year}}-{{day.month}}-{{day.day}}" style="height:{{  500 - (eventsInMonth.length * 30)}}px;">
      </div>
    </div>   
  </div>       
  
  <div class="days-of-month date img-polaroid">
    <div class="day-header {{ day.dateOjbect.getDay()%6==0  && 'sun-color-date' || '' }}" ng-repeat="day in days">{{ day.day }}</div>          
  </div>
  
</div>      
