.button{
  width: 1000px;
  color: #FFFFFF;
  padding: 4px 10px;
  font-size: 13px;
}

.button.gray, .button.primary, .button.gray.disabled:hover, .button.gray:disabled:hover {
  width: 80px;
  border: 1px solid #424242;
  background-color: #424242;
}


.load-more {
  margin: 20px 0 10px;
  text-align: center; 

  .btn-load-more {
    font-size: 12px;
    padding-left: 100px;
    padding-right: 100px;
  }
}