a.invite-member{
  float:right;
  padding-left:15px;
  background: url("/assets/project_header/add-white.png") no-repeat scroll 30% 50%  #000000 ;
  width:60px;
  height:25px;
  color:#ffffff;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
}

a.invite-member:hover{
  background: url("/assets/project_header/add-white.png") no-repeat scroll 30% 50% #378ee1;
}



