.upload-button {
  text-align: center;
  display: block;
  width: 80px;
  height: 25px;
  position: relative;
  background: #a6c6d3;
  margin-top: 12px;
  margin-left: 10px;
  padding: 5px 2px 1px 2px;
  color: #FFFFFF;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.row-fluid .form-span3{
  width: 102px;
}

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    background: #ebebeb;
    margin-top: 5px;
  }

.nomargin {
  margin-left: 25px;
}
 .commit-invite{
   background-color:#378ee1;
   color:#ffffff;
   border: 0;
   font-size: 16px;
   padding: 2px 6px;
 }
 .close_invite{
   background-color:#000000;
   color:#ffffff;
   opacity: 0.7;
   filter: alpha(opacity=70);
   padding: 2px 6px 4px 6px;
   font-size: 16px;
 }
.textarea-backgroundcolor{
   background-color: rgb(128, 124, 126);
}
div.textarea-backgroundcolor{
  background-color:#e1e1e1;
}
#project_id{
  width: 50%;
  margin-bottom: 5px;
  margin-left: 15px;
}
#recipients{
  background: url("/assets/icon-members.png") no-repeat scroll 30% 50% #378ee1;
}

ul{
  opacity: 0.8;
  color: rgb(10, 9, 9);
}
