html, body
{
    height: 100%;
    min-height: 100%;
}

#external-events, #members {
margin-top:20px;
width: 150px;
padding: 0 10px;
border: 1px solid #ccc;
background: #eee;
text-align: left;
}
	
#external-events h4, #members h4 {
font-size: 16px;
margin-top: 0;
padding-top: 1em;
}

#external-events .external-event, #members .member { /* try to mimick the look of a real event */
margin: 10px 0;
padding: 2px 4px;
background: #3366CC;
color: #fff;
font-size: .85em;
cursor: pointer;
z-index:1000;
}
#external-events .external-event.dragged-true{
  background:#333;
  cursor:default;
}
#members .member{
  background: #650606;  
}


#calendar{
  background:#fff;
}
#calendar div.header nav {
position: absolute;
right: 0;
}
#calendar div.header .action_button {
border-radius: 5px 0 0 5px;
font-size: 11px;
line-height: 16px;
padding: 2px 10px;
margin: -1px 0 0;
background: #fff;
color: #000;
border: 1px solid #ccc;
vertical-align: top;
text-decoration: none;
border-radius: 5px;
box-shadow: 0px 1px 0px #ddd;
}

#calendar div.header button[data-behavior~=navigate]:nth-of-type(2) {
border-radius: 0 5px 5px 0;
margin-right: 10px;
}
#calendar div.header button[data-behavior~=navigate]:first-of-type {
border-radius: 5px 0 0 5px;
border-right: none;
}
#calendar div.header h1 {
margin: 0;
font-size: 18px;
line-height: 18px;
font-weight: normal;
-webkit-font-smoothing: antialiased;
text-align: center;
}

.month-row{
  position:relative;
/*  z-index:100;*/
}

div.days {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height:30px;
}

div.day {
display: table-cell;
height:30px;
overflow: hidden;
border-right: 1px dotted #dcd9d3;
/*border-top: 1px dotted #dcd9d3;*/
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}

div.day div.event-row {
position: relative;
top: auto;
height: auto;
zoom: 1;
}
div.day div.event-row div.spacer {
height: 35px;
width: 0;
float: left;
clear: left;
}

div.days-of-month {
  display: table;
  table-layout: fixed;
  width: 100%;
}

div.day-header {
  text-align:right;
display: table-cell;
overflow: hidden;
width: 3.3%;
margin: 0;
padding: 0 0 10px 0;
line-height: normal;
}

div.events.holdable {
position: absolute;
height: 0;
width:100%;
}
div.events.holdable div.event-row {
height: 0;
width: 100%;
float: left;
clear: left;
}
div.events.holdable div.event-row .event.Task{
  background-color: #3366CC;
}
div.events.holdable div.event-row .event.Member{
  background-color: #650606;
}

div.events.holdable div.spacer {
height: 25px;
width: 0;
float: left;
clear: left;
}
div.events.holdable div.event{
  position: absolute;  
  cursor: pointer;
  padding-left: 5px;
}
div.events.holdable div.event.width_2 {
width: 18.57143%;
}
div.events.holdable div.event.slot_3 {
left: 71.42857%;
}
div.events.holdable div.event.slot_2 {
left: 31.42857%;
}
div.events.holdable div.event.slot_1 {
left: 11.42857%;
}

div.events.holdable span.event {
color: #fff;
}

.ui-state-highlight{
  background-color:#FEFAE2;
}


#calendar_item_editor_singleton {
  position: absolute;
  width: 1px;
  height: 1px;
  display:none;
}
.balloon {
  white-space: normal;
  position: absolute;
  top: -30px;
  background: #fff;
  padding: 8px 12px 8px;
  width: 220px;
  z-index: 1000;
  border: 1px solid #bbb;
  font-size: 13px;
  line-height: 15px;
  vertical-align: baseline;
  border-radius: 6px;
  box-shadow: 0 1px 12px rgba(0,0,0,0.3);
}
.balloon.right_side .arrow {
border-color: transparent #ccc transparent transparent;
left: -24px;
}
.balloon .arrow {
position: absolute;
top: 24px;
}
.arrow {
font-size: 0;
line-height: 0;
width: 0;
border-style: solid;
border-width: 12px;
}
.popover-title{
  color: #000;
}
.popover-content .form-horizontal .control-label{
  width: auto;
  padding-top:0px;
}
.popover-content .form-horizontal .controls{
  margin-left: 50px;
}
.popover-content .form-horizontal .controls input{
  width:160px;
}