/*model css*/

body {
  min-width: 900px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #F5F5F5;
}
/*body-part*/
body>#wrap {
  height: auto;
  min-height: 100%;
  position: relative;  
}
     
/*header-part*/
      #mz-top-link-logo{
        background:url(/assets/project_header/LOGO.png) no-repeat scroll 0 0 transparent;
        padding-left: 130px;
        margin-left:1px;
      }

      .navbar-inverse .brand{
        margin-right: 170px;
        color: #ffffff;
      }
      .navbar-inverse .navbar-inner{
        background: #a6c6d3;
        color:#ffffff!important;
      }
      .navbar-inverse .navbar-link{
        color:#ffffff;
      }
      .navbar-inverse .brand, .navbar-inverse .nav > li > a{
        color:#ffffff;
      }
      .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
        background-color: #c3dae4;
      }
/*slide-part*/
      #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        padding: 30px 0 40px 15px;
        color: #a7abb1;
        z-index: 999;
      }      
/*main-part*/
#main {
  padding: 0px 35px 40px 0;
  margin-left: 250px;
  position: relative;
  min-height: 600px;
  border-left: 1px solid #ccc;  
  background: #f5f5f5;
}