<ul class="thumbnails">
  <% @users.each do |m| %>    
    <li class="image-space">
      <div class="line-space">
      <%= link_to image_tag(m.avatar_url(:medium),:class => 'img-circle'), planners_member_path(m), :class => "all-member-photo"%>
        <div class="caption">
          <h5 class="image-name"><%= m.lastname %><%= m.firstname %></h5>
        </div>
      </div>
    </li>
  <% end %>    
</ul>

<div class="pull-right members-link" style="margin-bottom:40px;">
  <a href="/planners/members">所有成员</a>
</div>
