// customize bootstrap _buttons.scss

// Base styles 6
// --------------------------------------------------

.button{
background-color: #70ac2e;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.5, transparent),color-stop(1, rgba(0,0,0,.1)));
background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.1));
border: 1px solid transparent;
border-bottom-color: rgba(0,0,0,.3);
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
box-shadow: 0 2px 0 rgba(0,0,0,.07), 0 1px 0 rgba(255,255,255,.2) inset;
-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.07), 0 1px 0 rgba(255,255,255,.2) inset;
-moz-box-shadow: 0 2px 0 rgba(0,0,0,.07), 0 1px 0 rgba(255,255,255,.2) inset;
color: #fff;
display: inline-block;
padding: 4px 10px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
font-size: 14px;
}
.button.full {
text-align: center;
width: 100px;
}
.button, .button:hover {
text-decoration: none;
}
.button.disabled, .button:disabled {
opacity: .5;
}
.button.blue, .button.primary, .button.blue.disabled:hover, .button.blue:disabled:hover {
background-color: #02aee5;
}
.button.gray{
background-color: #ebedf0;  
}
.button:hover{
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.1, transparent),color-stop(1, rgba(0,0,0,.2)));
background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.2));
color: #fff;
cursor: pointer;
text-decoration: none;
}



.btn {
  font-size: $bigFontSize;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  border-bottom-color: $btnBorder;
  @include border-radius($borderRadius);
  
  background-image: linear-gradient(#f5f5f5, #ebebeb);
  background-repeat: repeat-x;
  border: 1px solid #ecedf0;
  border-left: 1px solid #dfdfe1;   
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #ebebeb;    
  box-shadow:  1px 1px rgba(0, 0, 0, 0.05);

  color: $btnTextColor;

  &:hover {
    color: $btnTextColor;
    @include gradient-vertical(#e7e8eb, #d3d6da);
    background-position: 0 0;
  }
}
span.btn:hover{
 background-image: linear-gradient(#f5f5f5, #ebebeb);
 cursor: default;
}
.btn-primary {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.49);
  border-color: $btnPrimaryBorder;

  &:hover {
    color: $white;
    @include gradient-vertical(#0f9ef0, #046ae3);
  }
}

// Mini
.btn-mini {
  font-size: $baseFontSize;
}

// theme style

.btn-primary.bg-new,
.btn-primary.bg-upload {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 7px 3px;
}

.btn-primary.bg-new {
  background-image: url('icon-new.png');
}

.btn-primary.bg-upload {
  background-image: url('icon-upload.png');
}


#wiki_form .btn-primary {
  margin-left: 10px;
}

.user-info .btn-primary {
  padding-left: 50px;
  padding-right: 50px;
}

.load-more {
  margin: 20px 0 10px;
  text-align: center; 

  .btn-load-more {
    font-size: 12px;
    padding-left: 100px;
    padding-right: 100px;
  }
}


.select-menu-button.minibutton {
  padding-right: 60px;
}
.minibutton {
  padding: 0 10px;
  line-height: 24px;
  box-shadow: none;
}
.minibutton i {
  font-weight: 500;
  font-style: normal;
  opacity: .6;
  font-size:12px;
}
.js-select{
  display: inline;
  position: relative;
}
.js-select-button{
  font-size: 13px;
}
.select-menu-button:before {
content: " ";
display: block;
position: absolute;
background: url("/assets/icon-edit.png") no-repeat 0px 1px;
top: -3px;
right: 6px;
width: 20px;
height: 20px;
}
.select-menu-button:after {
content: "";
display: block;
position: absolute;
top: -6px;
bottom: 0;
right: 29px;
width: 1px;
height: 27px;
background-color: #ddd;
box-shadow: 1px 0 0 #f9f9f9;
}
.ui-datepicker-trigger{
  display:none;
}