.file-nav {
  margin-top: -10px;
  margin-bottom: 20px;

  #new-files-form {
    margin-bottom: 0px;

    .fileinput-button {
      @extend .pull-right;
    }
  }
}

.dropzone .preview:hover .success-mark,
.dropzone-previews .preview:hover .success-mark{
  display: none;
}

.dropzone .preview:hover .error-mark,
.dropzone-previews .preview:hover .error-mark {
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
  .dropzone.clickable .message, .btn.bg-files, .modal-body .btn.bg-files{
    @extend .box;
    border: 1px solid #cccccc;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ; 
    border-bottom-color: #b3b3b3;  
    border-radius: 4px;
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    background-image: -webkit-linear-gradient(to bottom, white, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);  

    font-size: 14px;
    text-shadow: 0 1px 0 #fff;
  
    display: block;
    width: 115px;
    padding: 5px 5px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;    
  }


    /* Safari only override */
  ::i-block-chrome,.dropzone.clickable .message, .btn.bg-files, .modal-body .btn.bg-files{
    margin-left:20px;
  }
}



.btn.bg-files, .modal-body .btn.bg-files{
  margin-top:0px;
}


.btn.bg-files .icon-asset{
  height: 21px;
  margin-top: -4px;
}


.dropzone .preview, .dropzone-previews .preview{
  margin-bottom:35px;
}

.dropzone.clickable .message  .icon-asset{
  height: 20px;
  margin-top: -2px;
}

.dropzone.clickable a.light{
  cursor: pointer;
}