// customize bootstrap _sprites.scss

// ICONS 6
// -----
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: top;  
  width: 23px;
  height: 30px;
  line-height: 20px;
  margin-top: -13px; 
  background-image:url("/assets/icons.png"); 
  background-repeat: no-repeat;
  display: inline-block;
}

// theme style
.icon-new {
  background-position: -20px 0;  
}

.icon-home {
  margin-right: 5px;  
  background-position: -125px 0;  
}

.icon-notify {
  background-position: -40px 0;
  margin-right: 5px;
  margin-top: -14px;  
}

.has_notification .icon-notify {
  background-position: -61px 0;
  margin-right: 5px;
}

.icon-select {
  background-position: -83px 0;
  margin-left: 5px;
}

.issue-list .issue-item .info .icon-select {
  margin-top: -11px;
}


.project-info .basic-info .actions .icon-select,
.issue .actions .icon-select {
  margin-top: -4px;
}

.icon-flag {
  background-position: -222px 0;
  width:20px;
  margin-top: -13px;
}

.icon-members {
  background-position: -240px 0;
  margin-top: -14px;
}

.icon-arrow-left {
  background-position: -415px 0;
}

.icon-summary {
  background-position: -440px 0;
}

.icon-open {
  background-position: -460px 0;
}

.icon-closed {
  background-position: -480px 0;
}

.icon-close {
 background-position: -315px 0;
}

.icon-assignee {
  background-position: 0 -20px;
  margin-top: -13px;  
}

.icon-due {
  background-position: -21px -31px;
  margin-top: -2px;
}

.overdue .icon-due {
  background-position: -265px -29px;
  margin-top: -2px;
}

.icon-dot {
  background-position: -160px -20px;
  position: relative;
  top: -27px;
  left: 90px;
}

.icon-pencil{
  background-position: -300px 0;  
  margin-top: -11px;  
}

.icon-asset{
 background-position:  -319px -31px;
}

.icon-blue-arrow-left{
  margin-top: -4px;
  width: 20px;
  height: 20px;
  background-position: -301px -30px;
}

.icon-blue-arrow-right{
  margin-top: -4px;
  width: 20px;
  height: 20px;
  background-position: -285px -30px;
}

.icon-tag{
  margin-top: 8px;
  margin-left: 14px;
  margin-right: 12px;
  background-position: -418px, 0px;
}

.popover{
  width: 230px;
}
.popover.right .arrow{
  top: 30px;
}

.title-bar .nav-tabs .issues, .title-bar .nav-tabs .wiki, .title-bar .nav-tabs .files{
  background-position: 35% 3px;
}

.title-bar .nav-tabs a {
  text-align: center;
}