.nav.issues-tabs {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: $dashedBorder;
}

.issue-list {  
  .issue-item {
    padding: 15px 0px 10px;
    border-bottom: $dashedBorder;

    [class*="span"] {
      min-height: 20px;
    }

    .btn-group {
      display: inline-block;
      margin-left: 5px;
    }

    .info {
      .subject {
        color: $darkTextColor;
        font-size: $bigFontSize;
        font-weight: bold;
      }

      .project{
        color: $lightTextColor;
        display:inline-block;
        margin-left:5px;        
        
        a{
          color: $lightTextColor;          
        }
      }

      .due {
        height: 23px;
        line-height: 23px;
      }
    }

    .journal a {
      display: block;
      color: $lightTextColor;

      &:hover .span5,
      &:hover .span17 {
        text-decoration: underline;
      }
      
      .avatar {
        margin-top: 4px;        
      }
      
      .name{
        font-weight:bold;
      }

      .span17 {
        width: 482px;
        margin-left: 5px;
      }
    }
  }
}

.issue .actions{
  color: $lightTextColor; 
}

.issue-info .attributes .issue-status,
#watchers ul {
  border-bottom: $dashedBorder;
  margin-bottom: 10px;
}

.issue-info {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;

  .attributes {
    .issue-status {
      padding: 5px 0 15px;
      text-align: center;
      color: $lightTextColor;
      font-size: $bigFontSize;
      font-weight: bold;
    }

    .assignee {
      margin-bottom: 15px;
    }

    
    div.info{
      font-weight: normal;
      padding-bottom: 5px;
      font-size:12px;
    }    

  }
}

#watchers {
  ul {
    margin-left: 0px;
    list-style: none;

    li {
      margin-bottom: 10px;

      img {
        margin-right: 10px;
      }
    }
  }
}

.issue {
  position: relative;

  .avatar, .author {
    @extend .pull-left;
    margin-right: 8px;
  }

  .author {
    line-height: 16px;
  }

  .actions {
    @extend .pull-right;
  }

  .issue-content {
    margin: 0px 0 30px 0px;
  }

  h3 {
    color: $darkTextColor;
    font-size: 14px;
    line-height: $baseLineHeight;
  } 

  .history {
    padding: 15px 0 0;

    .journal {
      padding-bottom: 10px;

      .avatar {
        @extend .pull-left;
      }

      .content {
        margin-left: 40px;

        .basic {
          height: 32px;
          line-height: 16px;
          margin-bottom: 5px;

          .date {
            color: $lightTextColor;
            font-style: italic;
          }
        }
      }
    }
  }
}

.issue-header{
  margin:0px 0px 20px 40px;
  position:relative;
  
  h2{
    font-size:16px;
    margin-right:50px;
    margin-bottom:0px;
    margin-top:0px;
    line-height: 30px;
  }  
  
  span.label{
    display:inline-block;    
    font-size:14px;
    font-weight:normal;
  }
  
  .holder{
    margin-left:0px;    
  }
  
  select{
    width:100px;
  }
  
  #edit-btn{
    position:absolute;
    right:0px;
    top: 0px;
  }
}

.journal{
  .span2{
    width:35px;
  }
  
  .span14{
    width:88%;
    float:left;
    margin-left:0px;
  }
  
  .wiki p{
    margin-bottom:1.5em;
  }
  
  .content{
    margin-bottom:30px;
  }
}

.overdue, input.overdue {
  color: $red;
}

.sub-menu-item
{
    border-bottom:1px dashed #e3e3e3;
    height:10px;
    list-style:none;
    text-align:center;
    margin: 20px 0px ;   
}
.sub-menu-item > span
{
  font-size: 14px;
  padding: 0px 15px;
  background: white;
  font-weight: 800;
}


.select-menu-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;
  
  .mini-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-decoration: none;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .select-menu-item-icon {
    display: table-cell;
    color: transparent;
    vertical-align: top;
    padding: 0px 0 0px 0px;
    
    .icon-assignee{
      margin-top: -5px;
    }
  }
  
  .select-menu-item-gravatar {
    display: table-cell;
    padding: 0px 0 0px 10px;
    vertical-align: top;
    overflow: hidden;
    line-height: 0;
    width: 45px;
  }
  
  .select-menu-item-text {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
  
    h4{
      margin-top: 5px;  
      font-size: 12px;
    }
  }
}


.select-menu-item:hover {
  background-color: $buttonBackground;
  color: #fff;
}

.ui-datepicker-trigger{
  cursor:pointer;
}

.issue-info form{
  margin:0px;
}

#notes{
  margin-bottom: 10px;  
}


.dropzone {
  position: relative;
  border: none;
  background: transparent;
  padding: 0px;
  
  a.blue{
    margin-right:10px;
    cursor:pointer;
  }
}

.issue-body  .wiki p{
  line-height: 25px;
}

h2.title{
  width: 200px;
  margin-bottom: 13px;
  padding-bottom: 10px;
  line-height: 23px;
  margin-top: 0px;
  margin-left: 29px;
  font-size: 16px;
  border-bottom: 1px dashed #e3e3e3;
}

.pinned{
  z-index:1002;
  
  a.project-name{
    overflow: hidden;
    width: 170px;
  }
}

.select-assign{
  overflow-x: hidden;
  max-height: 250px;
  overflow-y: auto;  
}


.atwho-view{
  z-index: 2000;
} 

.showmebox.inline-help {
  padding: 10px;
  margin: 0 -20px;
  width: 160px;
  z-index: 10000;
  position:absolute;
  bottom: 200px;
  right:10px;
  -moz-border-image: none;
  -webkit-border-image: none;
  border: 7px solid #fff;
  -webkit-box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color:#FEFAE2;
  padding:10px 0px 10px 20px;
  display:none;
}

.controller-wiki .showmebox.inline-help{
  top:150px;
  bottom:auto;  
}
.showmebox.popup {
  -webkit-animation: popin 300ms;
  -moz-animation: popin 300ms;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
}

.showmebox.inline-help a.close {
  position: absolute;
  top: -3px;
  right: -3px;
  opacity: 0.5;  
}
.showmebox.inline-help a.close:hover{
   opacity: 1;   
}

.preview-content{
  margin:10px 10px 80px 10px;
}
#preview-content{
  min-height:40px;
}
#preview-content .preview-content{
  margin-bottom:20px;
}

.atwho-view {
  overflow-y: auto;
  max-height: 250px;
}

.filterinput{
  width: 188px;
}

.tab-pane{
  min-height: 50px; 
}

.tab-content.overflow {
  overflow: visible;
}

.issue-tag-div {
  background:#f8f8f8;
  padding-top:4px;
  padding-bottom:0px;
  margin-bottom:10px;
}
