.nav.issues-tabs {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: $dashedBorder;
}

.issue-list {  
  .issue-item {
    padding: 15px 0px 10px;
    border-bottom: $dashedBorder;

    [class*="span"] {
      min-height: 20px;
    }

    .btn-group {
      display: inline-block;
      margin-left: 5px;
    }

    .info {
      .subject {
        color: $darkTextColor;
        font-size: $bigFontSize;
        font-weight: bold;
      }

      .project{
        color: $lightTextColor;
        display:inline-block;
        margin-left:5px;        
        
        a{
          color: $lightTextColor;          
        }
      }

      .due {
        height: 23px;
        line-height: 23px;
      }
    }

    .journal a {
      display: block;
      color: $lightTextColor;

      &:hover .span5,
      &:hover .span17 {
        text-decoration: underline;
      }
      
      .avatar {
        margin-top: 4px;        
      }
      
      .name{
        font-weight:bold;
      }

      .span17 {
        width: 482px;
        margin-left: 5px;
      }
    }
  }
}

.issue-info .attributes .issue-status,
#watchers ul {
  border-bottom: $dashedBorder;
  margin-bottom: 10px;
}

.issue-info {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;

  .attributes {
    .issue-status {
      padding: 5px 0 15px;
      text-align: center;
      color: $lightTextColor;
      font-size: $bigFontSize;
      font-weight: bold;
    }

    .assignee {
      margin-bottom: 5px;
    }

    .assignee a,
    .due .date {
      font-weight: bold;
    }
  }
}

#watchers {
  ul {
    margin-left: 0px;
    list-style: none;

    li {
      margin-bottom: 10px;

      img {
        margin-right: 10px;
      }
    }
  }
}

.issue {
  position: relative;

  .avatar, .author {
    @extend .pull-left;
    margin-right: 8px;
  }

  .author {
    line-height: 16px;
  }

  .actions {
    @extend .pull-right;
  }

  .issue-content {
    margin: 0px 0 30px 0px;
  }

  h3 {
    color: $darkTextColor;
    font-size: 14px;
    line-height: $baseLineHeight;
  } 

  .history {
    padding: 15px 0 0;

    .journal {
      padding-bottom: 10px;

      .avatar {
        @extend .pull-left;
      }

      .content {
        margin-left: 40px;

        .basic {
          height: 32px;
          line-height: 16px;
          margin-bottom: 5px;

          .date {
            color: $lightTextColor;
            font-style: italic;
          }
        }
      }
    }
  }
}

.issue-header{
  margin:0px 0px 20px 40px;
  position:relative;
  
  h2{
    font-size:16px;
    margin-bottom:15px;
    margin-top:0px;
    line-height: 30px;
  }  
  
  span.label{
    display:inline-block;    
    font-size:14px;
    font-weight:normal;
  }
  
  .holder{
    margin-left:0px;    
  }
  
  select{
    width:100px;
  }
  
  #edit-btn{
    position:absolute;
    right:0px;
    top: 0px;
  }
}

.journal{
  .span2{
    width:35px;
  }
  
  .span14{
    width:80%;
    float:left;
    margin-left:0px;
  }
  
  .wiki p{
    margin-bottom:0px;
  }
  
  .content{
    margin-bottom:30px;
  }
}

.overdue, input.overdue {
  color: $red;
}

.sub-menu-item
{
    border-bottom:1px dashed #e3e3e3;
    height:10px;
    list-style:none;
    text-align:center;
    margin: 20px 0px ;   
}
.sub-menu-item > span
{
  font-size: 14px;
  background: white;
  font-weight: 800;
}


.select-menu-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  color: inherit;
  
  .mini-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    text-decoration: none;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .select-menu-item-icon {
    display: table-cell;
    color: transparent;
    vertical-align: top;
    padding: 0px 0 0px 8px;
  }
  
  .select-menu-item-gravatar {
    display: table-cell;
    padding: 0px 0 0px 10px;
    vertical-align: top;
    overflow: hidden;
    line-height: 0;
    width: 32px;
  }
  
  .select-menu-item-text {
    display: table-cell;
    vertical-align: top;
    padding: 0px 0 0px 8px;
  
    h4{
      margin: 0px;  
      font-size: 12px;
    }
  }
}


.select-menu-item:hover {
  background-color: $buttonBackground;
  color: #fff;
}

#datepicker{
  font-weight: bold;
  margin-bottom: 0px;
  width: 70px;
  cursor: auto;
  background-color: transparent;
  border: none;
  box-shadow:none;  
}

.ui-datepicker-trigger{
  cursor:pointer;
}

.issue-info form{
  margin:0px;
}

#notes{
  margin-bottom: 10px;  
}


.dropzone {
position: relative;
border: none;
background: #fff;
padding: 0px;
}

.issue-body  .wiki p{
  line-height: 25px;
}

h2.title{
  margin-bottom: 13px;
  padding-bottom: 10px;
  line-height: 23px;
  margin-top: 0px;
  margin-left: 29px;
  font-size: 16px;
  border-bottom: 1px dashed #e3e3e3;
}