body {
  padding-top: 110px;
  background: #eff3f3 url('/assets/bg.png') repeat ; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;  
}

a.light{
  color:#02c3ed;
}
a:hover{
  color:#02c3ed;
  text-decoration:none;  
}


.container {
  margin-bottom: 50px;
}

.main {
  @include border-radius($borderRadius);
  padding: 20px $gridGutterWidth;
  background-color: $white;

  background-repeat: repeat-x;
  border: 1px solid #ecedf0;
  border-left: 1px solid #dfdfe1;   
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #ebebeb;    
  box-shadow:  1px 1px rgba(0, 0, 0, 0.05);
  position:relative;
}

.with-title-bar {
  @include border-top-left-radius(0px);
}

.title-bar {
  @include clearfix();

  .nav {
    margin-bottom: 0;
  }
}

.sidebar {
  .actions {
    margin-bottom: $baseLineHeight;
  }
}

.note-actions {
  @extend .pull-right;
}

.flash.notice {
  @extend .alert-success;
}

.flash.error {
  @extend .alert-error;
}

.hidden {
  display: none;
}

#ajax-indicator {
  background: transparent url(loading.gif) no-repeat 0 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;

  span {
    display: block;
    margin-top: 40px;
  }
}

//  sidebar
.sidebar {
  #project-list .nav li,
  .project-info .basic-info,
  .project-info .member,
  .issue-info,
  #watchers {
    margin-bottom: 20px;    
    padding: 0px 10px 10px;
    @include border-radius($borderRadius);
    
    background-repeat: repeat-x;
        
    @extend .box;    
    background-color: #f1f1f1;

    h5 {
      font-weight: normal;
      padding-bottom: 5px;
      border-bottom: $dashedBorder;
      
      a.button{
        padding: 1px  10px;
      }
    }
  }
  
  #project-list .nav li{
    padding: 3px;
    margin-bottom:10px;
  }

  #project-list .nav li a {
    display: block;
    padding: 5px 6px;
    border: none;
    margin: 0px;

    span {
      padding-left: 5px;
      line-height: 32px;
    }
  }
  
  #project-list .nav li a.one-line{
    margin-top: 7px;
    display: inline-block;
  }

  .project-info .basic-info {
    h5 {
      border-bottom: 0 none;
    }
  }

  .project-info .member {
    .user-name {
      font-weight: bold;
    }

    .role {
      color: $lightTextColor;
      font-style: italic;
    }

    .link-all-members {
      display: block;
      padding-top: 5px;
      color: $lightTextColor;
    }
  }

  .search-result-counts {
    list-style-type: none;
    margin: 0;

    li {
      line-height: 40px;
      border-bottom: $dashedBorder;

      a {
        display: block;
        padding-right: 15px;
        text-decoration: none;

        &:hover {
          font-weight: bold;
          background: transparent url('icon-arrow-right.png') no-repeat 150px 10px;
        }
      }
    }

    li.active {
      a {
        font-weight: bold;
        background: transparent url('icon-arrow-right.png') no-repeat 150px 10px;
      }
    }

    li.btn-back {
      border-bottom: 0 none;
      width: 100%;

      a {
        background-color: #f1f1f1;
        background-image: linear-gradient(#f5f5f5, #e9e9e9);
        background-repeat: repeat-x;
        border-top: 1px solid #ecedf0;
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 3px 2px rgba(0, 0, 0, 0.05);

        width: 140px;
        background: transparent url('icon-arrow-left.png') no-repeat 15px 5px;
        

        &:hover {
          font-weight: normal;
          background: #dfe0e4 url('icon-arrow-left.png') no-repeat 15px 5px !important;
          
        }
      }

    }
  }

  .row-fluid {
    .btn.span24 {
      float: none;
      text-align: left;
    }
  }
}

.box{
  background-image: linear-gradient(#fdfdfd, #ebebeb);
  background-repeat: repeat-x;
  border: 1px solid #ecedf0;
  border-left: 1px solid #dfdfe1;   
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #ebebeb;    
  box-shadow:  1px 1px rgba(0, 0, 0, 0.05);
}

.row-fluid .marleft0{
  margin-left: 0px;
}

@media (min-width: 1200px) { 
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span5 {
    width: 270px;
  }
  .span19 {
    width: 870px;
  } 
}

/* Portrait tablet to landscape and desktop */
@media  (max-width: 979px) { 
  body{
    padding-top: 0px;
  }
}

@media (max-width: 979px) and (min-width: 768px){
  .span19 {
    width: 570px;
  }
  .span5 {
    width: 160px;
  }
  [class*="span"] {
    margin-left: 30px;
  }  
}