// customize bootstrap _navbar.scss

// Brand: website or project name 46
// -------------------------
.navbar .brand {
  padding: 0px;
  margin-left: 0px;
}

// Shared (top/bottom) styles 160
.navbar-fixed-top {
  .navbar-inner {
    border-bottom: $solidBorder;
    border-color: #d4d4d4;
    @include box-shadow($boxShadowOne);

    .container {
      margin-bottom: 0px;
    }
  }
}

// NAVIGATION 212
// ----------
.navbar .nav {
  left: $gridGutterWidth;
  margin-left: 45px;
}

// Links 29
.navbar .nav > li > a,
.navbar .nav > .active > a {
  color: $lightTextColor;
  font-weight: bold;
}

// Hover 242
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $linkColorHover;
}

// Active nav items 250
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.tabnav{
  border-bottom: 1px solid #ddd;
  height: 35px;
    
  ul{
    float: left;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom:none;
    
    li > a {
      line-height: 18px;
    }
  }
  
  a.pull-right{
   margin-top:10px;
   display:block;
 }
    
}

.tab-content.overflow {
  overflow: visible;
}

