// customize bootstrap _navbar.scss

// Brand: website or project name 46
// -------------------------
.navbar .brand {
  padding: 0px;
  margin-left: 0px;
}

// Shared (top/bottom) styles 160
.navbar-fixed-top {
  .navbar-inner {
    border-bottom: $solidBorder;
    border-color: #d4d4d4;
    @include box-shadow($boxShadowOne);

    .container {
      margin-bottom: 0px;
    }
  }
}

// NAVIGATION 212
// ----------
.navbar .nav {
  left: $gridGutterWidth;
  margin-left: 45px;
  margin-top:10px;
}

.navbar-form {
  margin-top: 20px;
}
// Links 29
.navbar .nav > li > a,
.navbar .nav > .active > a {
  color: $lightTextColor;
  font-weight: bold;
}

// Hover 242
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $linkColorHover;
}

// Active nav items 250
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.issue {
  .tabnav{
    height: 29px;
    
    ul{
      margin-bottom:0px;
      padding-left:0px;
    }
    
    .nav-tabs > li > a{
      padding: 4px 12px;
    }
  }
}

.tabnav{
  border-bottom: 1px solid #ddd;
  height: 35px;
    
  ul{
    float: left;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom:none;
    padding-left:10px;
    
    li {
      background-image: linear-gradient(#fdfdfd, #eaeaea);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffeaeaea', GradientType=0);
      
      a {
        line-height: 18px;
        border-left: 1px solid #dfdfe1;   
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;    
        border-top: 1px solid #ebebeb;        
      }
      
      a:hover{
        border-left: 1px solid #dfdfe1;   
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;    
        border-top: 1px solid #ebebeb;
        color:inherit;
        background-color:#fff;
      }
    }
    
  }
  
  a.pull-right{
   margin-top:10px;
   display:block;
 }
 
 .nav-tabs > .active > a,
 .nav-tabs > .active > a:hover {
   background-color: $white;
 }
    
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
}

.navbar-default  .navbar-nav li.dropdown ul.dropdown-menu{
  margin-top: 7px;
}

.navbar .nav>li>.dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0,0,0,0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.navbar .nav>li>.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px;
}