// customize bootstrap _navs.scss

// Make links block level 15
.nav > li > a:hover {
  background-color: transparent;
}

// Links rendered as pills 136
.nav-pills > li > a {
  padding-top: 6px;

  &:hover {
    color: $btnPrimaryBackground;
  }
}

// Active state 145
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: $btnPrimaryBackground;
  font-weight: normal;  
}

// theme style

#project-list {
  .nav li {
    margin-bottom: 5px;
    font-size: $bigFontSize;
  }
}

.title-bar,
.tabbable .tab-title {
  .nav-tabs {
    border-bottom: 0 none;
  }
  
  .nav-tabs > li{
    background-image: linear-gradient(#fdfdfd, #ebebeb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffebebeb', GradientType=0);
    background-repeat: repeat-x;    
    border-radius: 1px 1px 0 0;
  }
  
  .nav-tabs > li:first-of-type {
    z-index: 4;
    border-left: 1px solid #dfdfe1;     
  }
  
  .nav-tabs > li:first-of-type.active {
    border-left:none;
  }  

  .nav-tabs > li > a {
    display: block;
    width: 40px;
    padding: 5px 30px 5px 50px;
    margin-right: 0px;
    border-left: 1px solid #dfdfe1;   
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;    
    border-top: 1px solid #ebebeb;
    font-size: $bigFontSize;

    &:hover {
      border-color: #dfdfe1;
      border-bottom: 1px solid #ebebeb;      
      background-color: $white;
      color: $textColor;
    }
  }

  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    border-color: #dfdfe1;
    border-bottom-color: transparent;
    background-color: $white;
    color: $textColor;
  }

  .nav-tabs {
    .issues, .wiki, .files,
    .account, .password {
      background-repeat: no-repeat;
      background-position: 20px 6px;
    }

    .issues {
      background-image: url('icon-issues.png');
    }

    .wiki {
      background-image: url('icon-wiki.png');
    }

    .files {
      background-image: url('icon-files.png');
    }

    .account {
      background-image: url('icon-account.png');
    }

    .password {
      background-image: url('icon-account-password.png');
    }
  }
}

.tabbable {
  .tab-title {
    @include gradient-vertical($white, #f2f1f1);

    .nav-tabs {
      margin: 30px 0 0 30px;

      > li > a {
        width: 120px;
      }
    }
  }

  .tab-content {
    border-top: $solidBorder;
  }
}

.action-register li.register-link,
.action-login li.login-link {
  a {
    color: $textColor;
  }
}
