.newfeatures{
  margin-top:20px;
}

.newfeatures{
  .wholetable{
    width:99%;
    margin:10px 8px;
    border-bottom:1px solid #999999;
  }

  .tablerows{
    border-bottom:2px solid #999999;
  }

  .tableth{
    width:30%;
  }
}

.showtr{
  border-bottom:1px solid #999999;
}

.showtd{
  width:30%; margin-bottom:500px;
}

.showspan{
  float:right!important;
}

.showfeatures{
  width:99%;
  margin:10px 8px;
  border-bottom:1px solid #999999;
}

.showfeatures{
  .featureshead{
    border-bottom:1px solid #999999;
  }

  .first{
    width:30%;
  }

  .title{
    width:30%;
  }

  .featuresedit{
    float:right;
  }
}