// sidebar
.project-info {

  .basic-info {
    .actions {
      margin: 1px 0px 0px;
      padding: 0px;
    }
  }

  .description {
    margin: 5px 5px 15px;
    color: $lightTextColor;
  }

  .member {
    h5 {
      .btn {
        margin-top: -3px;
      }
    }
    
    ul {
      margin: 0;
      padding: 0;
      border-bottom: $dashedBorder;
      overflow: hidden;
      list-style: none;

      li {
        margin-bottom: 10px;

        .span17 {
          line-height: 16px;
        }
      }
    }
  }
}
.col-md-9 .project-name-span{
  width: 105px;
  margin-top: -17px;
  /*margin-left: 25px;*/
}

// wiki
.wiki-nav {
  border-bottom: $dashedBorder;

  .nav-pills {
    margin-bottom: 5px;
  }

  .btn {
    margin-top: -10px;
  }
}

.icon_delete{
  margin-top: 7px;
}
