.qeditor_border {
  background: transparent;
  padding-bottom: 20px;
  text-align: center;
  position: relative; }

.qeditor_toolbar {
  text-align: left;
  background: transparent;
  margin: 0 auto 3px auto; }
  .qeditor_toolbar span.vline {
    border-left: 1px solid #bbb;
    padding-right: 10px; }
  .qeditor_toolbar a, .qeditor_toolbar .qe-icon {
    color: #666;
    text-decoration: none;
    font-size: 14px;
    margin-right: 8px; }
    .qeditor_toolbar a:hover, .qeditor_toolbar .qe-icon:hover {
      color: #43be4d; }
  .qeditor_toolbar a.qe-state-on {
    color: #43be4d; }
  .qeditor_toolbar .qe-heading {
    position: relative; }
    .qeditor_toolbar .qe-heading .qe-menu {
      width: 120px;
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      left: -25px;
      top: 15px;
      border: 1px solid #eee;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      z-index: 9991;
      background: #FFF;
      list-style: none; }
      .qeditor_toolbar .qe-heading .qe-menu li {
        display: inline;
        padding: 0;
        margin: 0; }
      .qeditor_toolbar .qe-heading .qe-menu a {
        display: block;
        margin: 0;
        padding: 2px 10px; }
        .qeditor_toolbar .qe-heading .qe-menu a:hover {
          background: #f0f0f0; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h1 {
        font-size: 17px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h2 {
        font-size: 16px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h3 {
        font-size: 15px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h4 {
        font-size: 14px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h5 {
        font-size: 13px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-h6 {
        font-size: 12px;
        font-weight: bold; }
      .qeditor_toolbar .qe-heading .qe-menu .qe-p {
        font-size: 12px;
        border-top: 1px solid #eee; }
    .qeditor_toolbar .qe-heading.hover {
      background: #eee; }
      .qeditor_toolbar .qe-heading.hover .qe-menu {
        background: #fff;
        display: block; }

.qeditor_preview {
  text-align: left;
  min-height: 80px;
  margin: 0 auto;
  overflow-y: hidden; }

.qeditor_placeholder {
  color: #999; }

.qeditor_fullscreen {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99990;
  padding: 30px 0;
  overflow: hidden; }
  .qeditor_fullscreen .qeditor_preview {
    max-width: 900px;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    margin-top: 20px;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    padding: 0; }
  .qeditor_fullscreen .qeditor_toolbar {
    max-width: 900px;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px; }
    .qeditor_fullscreen .qeditor_toolbar a, .qeditor_fullscreen .qeditor_toolbar .qe-icon {
      font-size: 18px;
      margin-right: 8px; }
      
      
.hasAt{
  overflow-y:hidden;
  background-color: #ffffff;
   border: 1px solid #cccccc;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border linear .2s, box-shadow linear .2s;
   -moz-transition: border linear .2s, box-shadow linear .2s;
   -o-transition: border linear .2s, box-shadow linear .2s;
   transition: border linear .2s, box-shadow linear .2s;
   padding: 4px 6px;
   font-size: 14px;
   line-height: 20px;
   color: #555555;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   vertical-align: middle;
   outline: none;
}

.form-content .row-fluid .hasAt{
  margin:0px 0px 10px 0px;
  min-height: 100px;  
}

.wiki_document .qeditor_preview{
/*  height:500px;*/
}

.wiki_document .qeditor_preview:focus {
    outline: none;
}