@media (min-width: 1200px) { 
  .container {
    width: 970px;
  }
  .sidebar {
    width: 20%;
  }
  .sidebar+div {
    width: 80%;
  }
}

@media (min-width: 992px) { 
  .container {
    width: 970px;
  }
  .sidebar {
    width: 20%;
  }
  .sidebar+div {
    width: 80%;
  }
}
