<%= form_tag({ action: 'password' }, :class => "tabular", :id => "change_notify_form") do %>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span19">                
        <label>你关注的所有课题的更新</label>
        <label class="checkbox inline" style="font-size:14px;font-weight:bold;">
          <input type="checkbox" id="inlineCheckbox1" value="option1">邮件
        </label>
        <label class="checkbox inline" style="font-size:14px;font-weight:bold;">
          <input type="checkbox" id="inlineCheckbox2" value="option2">网站
        </label>
        
        <br><br>
        
        <label>你参与项目中新建课题，wiki和文件的更新</label>
        <label class="checkbox inline" style="font-size:14px;font-weight:bold;">
          <input type="checkbox" id="inlineCheckbox1" value="option1">邮件
        </label>
        <label class="checkbox inline" style="font-size:14px;font-weight:bold;">
          <input type="checkbox" id="inlineCheckbox2" value="option2">网站
        </label>
                
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to l(:button_close), '#', class: 'btn', data: { dismiss: 'modal' } %>
    <%= submit_tag l(:button_apply), disable_with: l(:button_submiting), class: 'button blue' %>
  </div>
<% end %>
